<div class="container">
<h1>Editing hairstyle</h1>

<%= render 'form' %>

<%= link_to 'Show', @hairstyle, class:'btn btn-link' %> |
<%= link_to 'Back', hairstyles_path, class:'btn btn-link' %>
</div>
