<div class="container">
  
<!-- START THE FEATURETTES -->

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">Hair Styles <span class="text-muted"></span></h2>
          <p class="lead">Browse, like, and share the latest styles! Find out more about the stylists responsible for creating them.</p>
        </div>
        <div class="col-md-5">
          <%= (image_tag 'about1.jpg') %>
        </div>
      </div>

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-5">
          <%= (image_tag 'about3.jpg', :width => 390, :height => 400) %>
         
        </div>
        <div class="col-md-7">
          <h2 class="featurette-heading">Our Hair Care Products <span class="text-muted"></span></h2>
          <p class="lead">Click here to shop through our selection of FAIR TRADE,ORGANIC, and UNIQUE products.</p>
        </div>
      </div>

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">Hair Salons <span class="text-muted"></span></h2>
          <p class="lead">New in town? Just stopping through? Browse the top local salons and barbershops. Find out what the locals are saying about them, book your appointment, and find the best route to get there...all with FairHair!</p>
        </div>
        <div class="col-md-5">
          <%= (image_tag 'about2.jpg', :width => 528, :height => 431) %>
        </div>
      </div>

      <hr class="featurette-divider">

      <!-- /END THE FEATURETTES -->
</div>

